* {
    font-family: "Times New Roman";
}

html,
body {
    height: 90vh;
}

body {
    background-color: #000;
}

h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 100%;
}

p {
    color: #fff;
    font-size: 40px;
    font-weight: 100%;
}

.container {
    height: 90vh;
    position: relative;
}

.box {
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}